<main class="grid-container">
  <div class="grid-x theme" id="tagline">
    <h1 class="cell small-12 text-center"><strong><em> WE GOT GAME! DO YOU?</em></strong></h1>
  </div>
  <div class="grid-x theme">
    <div class="cell small-12 large-8 large-offset-2 text-center theme alt rounded" id="about">
      <p>Welcome, fellow gamer. Here at Got Game, you can talk video games all day. Whatever your needs, we've got you covered:</p><hr>
      <p>Want to find useful reviews to let you know which hot new game to buy?</p><hr>
      <p>Pissed at that one goddamn impossible quest, and want a nice, helpful walkthrough?</p><hr>
      <p>Need to ask any questions you have about a game, no matter how simple?</p><hr>
      <p>Or you just need to vent, cuz [INSERT CHARACTER HERE] is ridiculously OP and broken AF and needs to be removed from [INSERT GAME HERE] immediately?</p><hr>
      <p>Well sit down, grab your Doritos and Mountain Dew (HAH, stereotypes), and enjoy the browse.</p>
      <div class="grid-x">
        <div class="cell large-4 large-offset-4">
          <a href="/posts" class="button theme rounded expanded">View all posts</a>
        </div>
      </div>
    </div>
    
  </div>
</main>