<div id="login-section" class="grid-container">
  <div class="grid-x grid-margin-x">
    <h1 class="cell small-10 small-offset-1">Login to your account:</h1>
  </div>
  <div class="grid-x grid-margin-x">
    <div id="login-form" class="cell small-10 small-offset-1">
      <% if flash[:message] %>
        <div class="alert callout" aria-live="assertive" data-closable>
          <%= flash[:message] %>
          <button class="close-button" aria-label="Close Alert" type="button" data-close>
            <span aria-hidden="true"> &times; </span>
          </button>
        </div>
      <% end %>
      <form action="/login" method="post">
        <label for="username"class="h3">Username:</label>
        <input type="text" name="username">
        <label for="password" class="h3">Password:</label>
        <input type="password" name="password">
        <input class="button theme" type="submit" value="Login" class="button">
      </form>
    </div>
  </div>
</div>
